{% extends "base.html" %}
{% block title %}Home user{% endblock title %}

{% block javascript_top %}
{% endblock javascript_top %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="colborder border-primary">
    </div>
    <div class="row pb-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6 mb-5">
            <form data-toggle="validator" role="form" class="password_form form-vertical" id="add-form"
                  action="{% url 'publish_item' %}" method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col mb-3">
                        <label for="name">Name</label>
                        <div class="input-group-prepend">
                            <div id="name_div">
                                {#                                <div class="input-group-text">@</div>#}
                            </div>
                            <input id="name" type="text" class="form-control" name="name" placeholder="Name"
                                   :placeholder-shown maxlength="30"
                                   pattern="[a-zA-Z0-9]+" title="Only alphanumeric characters" required autofocus>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label for="price">Price</label>
                        <input id="price" type="number" class="form-control" name="price" maxlength="30" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                        <img type="text/javascript" src="/static/icons/mail.png"
                                             class="rounded mx-auto d-block" style="width: 20px">
                                </div>
                            </div>
                            <input id="email" type="email" class="form-control" name="email" maxlength="30" required>
{#                            <span class="error" aria-live="polite"></span>#}
                        </div>
                    </div>

                    <div class="col mb-3">
                        <label for="phone">Phone</label>
                        <input id="phone" type="tel" class="form-control" name="phone" minlength="4" maxlength="20"
                               required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <legend class="col-form-label ">Available international delivery</legend>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="international_delivery_available"
                                   id="international_delivery_available1" value="YES" required>
                            <label class="form-check-label" for="international_delivery_available1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="international_delivery_available"
                                   id="international_delivery_available2" value="NO" required>
                            <label class="form-check-label" for="international_delivery_available2">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="id_available_delivery">Preferred delivery company</label>
                        <select class="form-control" name="available_delivery" id="id_available_delivery" required>
                            <option value="" selected>Choose...</option>
                            <option value="UPS">UPS</option>
                            <option value="FEDEX">Fedex</option>
                            <option value="US_MAIL">US Mail</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="id_category">Category</label>
                        <select class="form-control" name="category" id="id_category" required>
                            <option value="" selected>Choose...</option>
                            <option value="Arts">Arts</option>
                            <option value="Automotive">Automotive</option>
                            <option value="Computers">Computers</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Industrial_and_Scientific">Industrial and Scientific</option>
                            <option value="Movies">Movies</option>
                            <option value="Video_Games">Video Games</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="id_country">Country</label>
                        <select class="form-control" name="country" id="id_country" required>
                            <option value="" selected>Choose...</option>
                            <option value="UY">Uruguay</option>
                            <option value="US">US</option>
                            <option value="GB">UK</option>
                            <option value="FR">France</option>
                            <option value="ES">Spain</option>
                            <option value="IT">Italy</option>
                            <option value="CN">China</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
                </div>

                <input type="submit" class="btn btn-primary" value="Submit"/>

            </form>
        </div>
        <div class="col-sm-3">
        </div>
    </div>


{% endblock content %}

{% block javascript_bottom %}
    <script>

        //------------------REGEX FOR REGISTER--------------------------//

        // Require the email to:
        //      + Have no whitespaces
        //      + Have one "@"
        //      + Have one "." after the "@"
        const emailRegExp = /\S+@\S+\.\S+$/;

        //------------------------------------------------------------------//

        var form = $("#add-form")[0];
        var name = $("#name")[0];
        var price = $("#price")[0];
        var email = $("#email")[0];

        $("#email").change(function () {
            if (!emailRegExp.test(email.value)) {
                // If the field is not valid, we display a custom
                // error message.
                email.setCustomValidity("Please after the @ the domain is expected, \".com\"." + email.value + "is " +
                    "incomplete");
            }
            else {
                email.setCustomValidity("")
            }
        })
        $("#name").change(function () {
            $("#name_div").html('<div class="input-group-text">' +
                            '<img type="text/javascript" src="/static/icons/loading.gif" ' +
                            'class="rounded mx-auto d-block" style="width: 20px"></div>')
            name_url = 'http://127.0.0.1:8000/api/verify_name/' + $("#name")[0].value + '/'


            jQuery.ajax({
                {#async: false,       //excecutes asycronicaly, waits until the end to continue#}
                url: name_url,
                data: {format: 'json'},
                success: function (data) {
                    console.log(data);

                    if (data.performance_report_charts === "Name is already taken") {
                        $("#name_div").html('<div class="input-group-text">' +
                            '<img type="text/javascript" src="/static/icons/error.png" ' +
                            'class="rounded mx-auto d-block" style="width: 20px">' +
                            '</div>')
                        email.setCustomValidity("Please change the name as " + $("#name")[0].value +
                            " is already taken.");
                    }
                    else {
                        $("#name_div").html('<div class="input-group-text">' +
                            '<img type="text/javascript" src="/static/icons/OK.png" ' +
                            'class="rounded mx-auto d-block" style="width: 20px">' +
                            '</div>')
                    }
                }
            });
        })


    </script>
{% endblock javascript_bottom %}
